@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

.lightgray {
  color: hsl(220, 14%, 75%);
}

.hoverDarkgray {
  color: black;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Kumbh Sans', sans-serif;
}

.navli {
  color: hsl(220, 14%, 75%);
  margin-inline: 30px;
  font-weight: bold;
  padding-bottom: 40px;
  padding-top: 40px;
  transition: all 200ms ease;
}

.navli:hover {
  cursor: pointer;
  color: rgb(107 114 128);
  border-bottom: 2px solid #962827;
}

.shadowmine {
  box-shadow: 0 5px 20px #b63532;
}
